<h1>Timeline</h1>

<ul>
  <% @tweets.reverse.select do |tweet| %>
    <li>
      <%= tweet.account.name %>
      @<%= tweet.account.username %>
      <%= tweet.content %>
      <%= tweet.created_at %>
    </li>
  <% end %>
</ul>
