<h1>Timeline</h1>
<h2>Tweets</h2>

<% if account_signed_in? %>
  <% tweets = @following_tweets + current_account.tweets%>
  <% tweets.reverse.select do |tweet| %>
    <%= render "shared/tweet", tweet: tweet %>
  <% end %>
<% end %>