<h1>Profile</h1>
  <ul>
    <li>Username: @<%= current_account.username %></li>
    <li>Name: <%= current_account.name %></li>
  </ul>
<h2>Tweets</h2>
<div class='tweets-container'>
  <% @tweets.reverse.select do |tweet| %>
    <% if tweet.account_id == current_account.id %>
      <%= render "shared/tweet", tweet: tweet %>
    <% end %>
  <% end %>
</div>
