<h1>Profile</h1>
<div class="profile-container">
  <div class='left-column'>
    <%= render 'shared/stats_box', account: current_account %>
  </div>
  <div class='right-column'>
    <h2>Tweets</h2>
    <div class="tweets-">
      <% @tweets.reverse.select do |tweet| %>
        <% if tweet.account_id == current_account.id %>
          <%= render "shared/tweet", tweet: tweet %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
